<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id='example-3'>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>
<div id="example-4">
    <input type="radio" id="one" name="number" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" name="number" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>
<div id="example-5">
    <label for="char">char</label>
    <br>
    <select id="char" v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
<br>
<div id="example-6">
    <label for="char2">char2</label>
    <br>
    <select id="char2" v-model="selected" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>
<div id="example-7">
    <label for="ex7">ex7</label>
    <br>
    <select id="ex7" v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
</body>
<script>
    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    });
    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    });
    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    });
    new Vue({
        el: '#example-6',
        data: {
            selected: ''
        }
    });
    new Vue({
        el: '#example-7',
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    })
</script>
</html>